@font-face {
    font-family: 'lato';
    src: url('/font/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'latobold';
    src: url('/font/lato/Lato-Black.ttf') format('truetype');
}